
/* ==========================================================================
   N's custom styles
   ========================================================================== */
body {
    font-size: 1em;
    background: green;
}

h1, h2, h3 {
    text-align: left;
}

main, footer {
    padding-left: 0;
}

a.brand-logo {
    color: #fafafa !important;
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    font-size: 1.5em;
    padding: 0 15px;
}

ul#foodie-menu-btn img {
    position: relative;
    height: 40px;
    width: 40px;
}

ul#foodie-menu-btn span {
    padding-left: 10px;
}

a.foodie-link {
    text-align: center;
}

a.foodie-link i {
    font-size: 1.5em;
}

nav .nav-wrapper i {
    line-height: 56px;
}

.dropdown-content li:hover {
    background-color: transparent;
}

ul.side-nav {
    top: 56px;
    z-index: 997;
}

#sidenav-overlay {
    z-index: 996;
}

#n-menu {
    background-color: transparent;
    box-shadow: none;
    padding-top: 15px;
}

.n-menu-btn {
    float: right;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.card .card-title {
    font-size: 1em;
    font-weight: 700;
}

.card .card-content .card-title {
    line-height: normal;
}

.modal {
    max-height: 75%;
    width: 75%;
}

.modal.modal-fixed-footer {
    height: 75%;
}
.customize-plan-option-btn {
    display:block;
    font-size: 3em;
    text-align: left;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 993px) {
    main, footer {
        padding-left: 300px;
    }

    nav .nav-wrapper i {
        line-height: 64px;
    }

    a.foodie-link {
        text-align: left;
    }

    ul.side-nav {
        top: 64px;
    }

}