.vwMlCntr{
    width:85%;
    margin-top: 0.5rem;
}

#mealTable{
    table-layout: fixed;
    width:100%;
}
.dayTD{
    width:10%;
}
.tdCell{
    width:18%;
}

.modal{
    max-width: 37% !important;
}

#reviewList.collection{
    max-width: 70%;
    margin: 0 auto;
}


/*#orderReview.modal{*/
    /*max-width: 21% !important;*/
/*}*/
/*#orderCustom.modal{*/
    /*max-width: 37% !important;*/
/*}*/

/*.modal.gallery{*/
    /*max-width: 37% !important;*/
    /*!*min-height:78% !important;*!*/
/*}*/

.row .col.plSlPlnNm{
    min-height: 40px;
    font-size: 20px;
}

.card-panel.plSlMlInf{
    display: none;
    margin: 0;
    padding: 0;
}
.collection.plSlMlInfCtnt{
    margin: 0;
}
.plSlMlCstBtn{
    margin-left: 10px;
}
.plSlMlInfDef{
    display: block;
    margin: 0;
}
.plSlMlInfDef{
    min-height:150px;
}
.row .col.m6.plSlMlInfCnt{
    padding-right:0;
}
.row .col.m6.plSlMlBtn{
    padding-left:0;
}
.plSlMlBtnCntrBtm{
    margin-top:20px;
}
.modal-header{
    width:100%;
    height:100%;
    min-height:80px;
}
.plIndSelCls{
    display: none;
}

.picSection { width:100%; height:100%; }
.planGallery { padding:0 15px; height:300px; overflow-y: hidden; -ms-overflow-y: hidden;}
.planGallery:hover { overflow-y: scroll;}
.galleryItem{ width:100px; height:auto; margin-bottom: 10px; }
.galleryItem:hover{ border: 3px solid #f57c00; padding: 1px }
#plPic { display: block; }
.imgGall{ display: none; }
.planName,.planPrice { margin: 10px 0; }
.planPrice{ font-size: 25px; }
.planName { font-size: 30px; }
.actionMenu { margin:0; }
.menu { padding: 10px 0; }
.chef,.category,.description { margin-bottom: 10px; }
.category,.description { margin-top: 10px; }
.infoSection{ margin:10px 0; }
.secTtl{ margin-bottom: 5px; }
.secCnt{ margin-left: 5px; }



#menu.modal{
    max-width: 90% !important;
    max-height: 80% !important;
}
.mlPlnTtl{ font-size: 40px; margin-left: 5px; color: #f57c00; }
.mlPlnCnt{ margin-top: 10px; }
.calDay{ border: 2px dotted #d1d1d1; padding: 5px; }
.dayTtl{ font-size: 30px; border-left: 4px solid #f57c00; color: #f57c00; margin-bottom: 10px; }
.brekk{ margin-top: 5px; }
.mealDay { margin-bottom: 10px; }
.mealDay a { color: black; }
.mealDay:hover { border: 1px solid #f57c00; color: #f57c00 !important; }
.mealDay:hover a { color: #f57c00 !important;}
.mlTtl { font-size: 20px; }
.mlCnt { font-size: 18px; padding-left: 10px; }


#loadWait{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999999;
    height: 100%;
}
#loadStatus {
    position: relative;
    margin:230px auto;
    height: 90px;
    width: 90px;
    display: block;
}
