.card-panel.plSlMlInf{
    display: none;
    margin: 0;
    padding: 0;
}

.collection.plSlMlInfCtnt{
    margin: 0;
}
.plSlMlCstBtn{
    margin-left: 10px;
}
.plSlMlInfDef{
    display: block;
    margin: 0;
}
.plSlMlInfDef{
    min-height:150px;
}
.row .col.m6.plSlMlInfCnt{
    padding-right:0;
}

.row .col.plSlCstPlnNm{
    min-height: 40px;
    font-size: 20px;
}

.row .col.plSlCstMlBtn{
    padding-left: 0;
}
.row .col.plSlCstMlInfCnt{
    padding-right: 0;
}
.plSlCstMlInf{
    min-height: 150px;
}

.editButton{
    padding: 10px;
}

.edtMlTtl{
    padding: 0 15px;
    font-size: 20px;
}

.mlPlnTtl{ font-size: 30px; margin-left: 5px; color: orange; }
.mlPlnCnt{ margin-top: 10px; }
.calDay,.calCntr,.ingredFormCntr{ border: 2px dotted #d1d1d1; padding: 5px; }
.dayTtl{ font-size: 20px; border-left: 4px solid orange; color: orange; margin-bottom: 10px; padding-left: 5px; }
.brekk{ margin-top: 5px; }
.mealDay { margin-bottom: 10px; }
.mealDay a { color: black; }
.mealDay:hover { border: 1px solid orange; color: orange !important; }
.mealDay:hover a { color: orange !important;}
.mlTtl { font-size: 18px; }
.mlCnt { font-size: 16px; padding-left: 10px; }

.custAction{ border: 2px dotted #d1d1d1; padding: 5px; }

