div.dshMnCnt{
    width: 85%;
    margin-top: 1rem;
}
div.dshPrfCrdCnt{
    height: 200px;
}
.dshPrfCrdImgBan{
    height:100%;
}
.dshPrfCrdImgUs{
    width: 70px;
    position: absolute;
    right:14px;
    bottom:140px;
}
@media only screen and (min-width: 1200px){
    .dshPrfCrdImgUs{
        right:14px;
        bottom:140px;
    }
}
div.dshPrfCrdDvd{
    margin-bottom:10px;
}
div.dshPrfCrdInf{
    margin: 10px 0;
}
div.dshMnClTtl{
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
}
table.dshMlTbl{
    table-layout: fixed;
}
div.dshNoOrd{
    padding:10px 20px;
}
div.card-image.dshPrfCrdCnt div#addCoverPhotoLink{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

div.card-image.dshPrfCrdCnt:hover div#addCoverPhotoLink{
    display: block;
    background: rgba(0, 0, 0, .6);
}