.plSlCstCnt{
    width:85%;
    margin-top: 0.5rem;
}

#custTable{
    table-layout: fixed;
    width:100%;
}
.dayTD{
    width:10%;
}
.tdCell{
    width:18%;
}

#orderReview.modal{
    max-width: 37% !important;
}

.editFoodieCustModal.modal{
    max-width: 50% !important;
}

.card-panel.plSlMlInf{
    display: none;
    margin: 0;
    padding: 0;
}

.collection.plSlMlInfCtnt{
    margin: 0;
}
.plSlMlCstBtn{
    margin-left: 10px;
}
.plSlMlInfDef{
    display: block;
    margin: 0;
}
.plSlMlInfDef{
    min-height:150px;
}
.row .col.m6.plSlMlInfCnt{
    padding-right:0;
}

.row .col.plSlCstPlnNm{
    min-height: 40px;
    font-size: 20px;
}

.row .col.plSlCstMlBtn{
    padding-left: 0;
}
.row .col.plSlCstMlInfCnt{
    padding-right: 0;
}
.plSlCstMlInf{
    min-height: 150px;
}




.ingredSelect{
    display:inline-block;
    width:100%;
    float:left;
}
.ingredGramsContainer{
    display:inline-block;
    width:20%;
    float:right;
}

.ingredSelectAdd{
    /*width:100%;*/
    height:54px;
}

.ingredGramsAdd{
    width:20%;
}

.addIngred{
    display: block;
}
.ingredSelectContainer{
    background-color: #FFF;
}
.autocomplete-content{
    position: inherit;
}
.err{
    color:#ff0000;
    font-size: 12px;
}

.editButton{
    padding: 10px;
}

#loadWait{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999999;
    height: 100%;
}
#loadStatus {
    position: relative;
    margin:230px auto;
    height: 90px;
    width: 90px;
    display: block;
}
