.plSlCstCnt{
    width:85%;
    margin-top: 0.5rem;
}

.row .col.plSlCstPlnNm{
    min-height: 40px;
    font-size: 20px;
}

.row .col.plSlCstMlBtn{
    padding-left: 0;
}
.row .col.plSlCstMlInfCnt{
    padding-right: 0;
}
.plSlCstMlInf{
    min-height: 150px;
}




.ingredSelect{
    display:inline-block;
    width:75%;
    float:left;
}
.ingredGramsContainer{
    display:inline-block;
    width:20%;
    float:right;
}

.ingredSelectAdd{
    width:75%;
    height:54px;
}

.ingredGramsAdd{
    width:20%
}

.addIngred{
    display: block;
}
.ingredSelectContainer{
    background-color: #FFF;
}
.autocomplete-content{
    position: inherit;
}
.err{
    color:#ff0000;
    font-size: 12px;
}

