.ingredSelect{
    display:inline-block;
    width:75%;
    float:left;
}
.ingredGramsContainer{
    display:inline-block;
    width:20%;
    float:right;
}

.ingredSelectAdd{
    width:75%;
    height:54px;
}

.ingredGramsAdd{
    width:20%
}

.addIngred{
    display: block;
}
.ingredSelectContainer{
    background-color: #FFF;
}
.autocomplete-content{
    position: inherit;
}

