.prfMnCnt{
    width: 85%;
    margin-top: 1rem;
}
.container .row{
    margin-left:0;
    margin-right:0;
}
.prfMnTtl{
    padding: 0;
    font-size: 30px;
}
.prfMnCntDv{
}

.row .col.prfLfBrd{
    min-height: 320px;
    border-left: 1px solid #e0e0e0;
}

.prfMnLink{
    padding:17px 25px;
}

.prfMnLink:hover{
    /*color:white;*/
    color: #f57c00;
    border: 1px solid #f57c00;
}

.prfMnLinkTxt{
    font-size: 20px;
    cursor: pointer;
}
.prfCntTtl{
    font-size:20px;
}

.prfCntInf{
    font-size: 20px;
    padding: 12px 0;
}
.prfCntBtn{
    margin-top: 10px;
}
.row.prfCntRw{
    margin-bottom: 0;
}
.prfFrmImg{
    width:100%;
    height:auto;
    float:left;
    margin-right: 25px;
}

.activePrfLink{
    color: #f57c00;
    border: 1px solid #f57c00;
}
.col.addressEdit{
    padding-right:0;
}
a.prfSvBtn{
    font-size: 2em;
}
#basic-profile-container,#addresses-container,#allergies-container,#food-preferences-container{
    display: none;
}

