.shOrdCntr{ width:85%; margin-top: 0.5rem; }
.payBox,.payInfoCntr{ border :1px solid #d1d1d1; }
.payInfoCntr{ padding: 10px; }
.orderInfo, .addressInfo{ border :1px solid #d1d1d1; padding: 10px; }
.addressInfo{ margin-bottom: 10px; }
.orderInfo .row{ margin:10px 5px !important; }
.addressInfo .row{ margin:10px 5px !important; }
.payTabs .row{ margin:0; }
.payMainTitle{ border-bottom: 1px solid #d1d1d1; padding: 15px 10px; }
.payTabsWrapper{ border-top: 1px solid #d1d1d1; height:auto;}
.payTab{ border-right: 1px solid #d1d1d1; height: 123px; position: relative; cursor: pointer; }
.cancelTab{ height: 123px; position: relative; cursor: pointer; }
.bankIcon{ color: #8bc34a; position: absolute; top:8px; left:23px; font-size: 70px; }
.payPalIcon{ color: #2196F3; position: absolute; top:11px; left:37px; font-size: 65px; }
.gcashIcon{ color: #9c27b0; position: absolute; top:25px; left:4px; font-size: 39px; }
.cancelIcon{ position: absolute; top:11px; left:34px; font-size: 65px; }
.bankDes{ position: absolute; top:90px; left:41px; font-size: 16px; }
.payPalDes{ position: absolute; top:91px; left:39px; font-size: 15px; }
.gcashDes{ position: absolute; top:90px; left:41px; font-size: 16px; }
.cancelDes{ position: absolute; top:90px; left:37px; font-size: 16px; }
.payForm{ display: none; padding: 15px;}
#defaultPay{ display: block; }
.payForm .row{ margin: 0 !important; }
.payInfo{ margin: 10px 0; }


#pickOrderAddressModal .modal-content, #cancelOrderModal .modal-content{
    padding:16px;
}


@media only screen and (min-width: 1200px){
    .bankIcon{ top:8px; left:50px; }
    .payPalIcon{ top:11px; left:63px; }
    .gcashIcon{ top:25px; left:28px; }
    .cancelIcon{ top:11px; left:61px; }
    .bankDes{ top:91px; left:64px; font-size: 20px; }
    .payPalDes{ top:90px; left:57px; font-size: 20px; }
    .gcashDes{ top:91px; left:58px; font-size: 20px; }
    .cancelDes{ top:91px; left:58px; font-size: 20px; }
}


#loadWait{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999999;
    height: 100%;
}
#loadStatus {
    position: relative;
    margin:230px auto;
    height: 90px;
    width: 90px;
    display: block;
}