.plSlCntr{
    width: 85%;
    /*border: 1px solid #e0e0e0;*/
    margin-top: 1rem;
}
.plSlTtl{
    padding: 0;
    font-size: 30px;
}
.container .row{
    margin-left:0;
    margin-right:0;
}
.plSlImg{
    width:100%;
}
.plSlCntTtl{
    font-size: 20px;
    font-weight: bold;
}
.plSlCnt{
    padding: 12px 0 0 0;
}
div.plSlCnt{
    color: #000;
    font-weight: initial;
}

.plSlCntChf{
    font-size: 16px;
}
.plSlCntDes{
    font-size: 16px;
}

.chefContainer,.categoryContainer{
    display: none;
}

.chefName,.allName { cursor: pointer; }

.chef:hover,.sugLink:hover{ border: 1px solid #f57c00; color: #f57c00;}
.simpleLink:hover{ border: 1px solid #f57c00 !important;  }
.simpleLink:hover a,.sugLink:hover a{ color: #f57c00; }
.deleteSimpleLink{ visibility: hidden; }


.buyBtn{ visibility: hidden }
li.chef { padding:0 0 10px 10px; }
div.buyCard { box-shadow: none !important;  }
div.buyCard div.card-content { padding: 15px; }
div.products { border: 1px solid #d1d1d1; text-decoration: none; border-radius: 4px; }
div.buyCard:hover { border: 1px solid #d1d1d1; text-decoration: none; }
div.buyCateg { position: relative; width: 300px; height: 300px; border-radius: 10px; box-shadow: 4px 4px 4px #888888; }
div.buyCateg div.category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

div.buyCateg:hover div.category{
    display: block;
    background: rgba(0, 0, 0, .6);
}

.lossPlan{
    max-width: 73%;
    height: auto;
    position: absolute;
    left: 42px;
    top: 43px;
}

.vegePlan{
    max-width: 86%;
    height: auto;
    position: absolute;
    left: 24px;
    top: 19px;
}

@media only screen and (max-width: 1024px){
    div.buyCateg {
        width: 250px;
        height: 250px;
    }
    .lossPlan{
        left: 36px;
    }
    .vegePlan{
        left: 20px;
    }
}