
/* ==========================================================================
   N's custom styles
   ========================================================================== */
.input-field small.notes {
    position: absolute;
    bottom: 0;
    color: #999999;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop Version */
@media only screen and (min-width: 993px) {

}