
/* ==========================================================================
   N's custom styles
   ========================================================================== */
.input-field small.notes {
    position: absolute;
    top: 56px;
    color: #999999;
}

a.profile-save-btn {
    font-size: 2em;
}

#basic-profile h4 {
    text-align: left;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Desktop Version */
@media only screen and (min-width: 993px) {

}