
/* ==========================================================================
   N's custom styles
   ========================================================================== */

body {
    font-size: 1em;
    background-color: #fafafa;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-1.jpg', sizingMethod=scale);
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-1.jpg', sizingMethod='scale')";
    background: url(/img/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3 {
    text-align: left;
}

#n-menu {
    background-color: transparent;
    box-shadow: none;
    padding-top: 15px;
}

.n-menu-btn {
    float: right;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.card .card-title {
    font-size: 1em;
    font-weight: 700;
}

.card .card-content .card-title {
    line-height: normal;
}

.modal {
    max-height: 75%;
    width: 75%;
}

.modal.modal-fixed-footer {
    height: 75%;
}

.meal-plan-option-btn {
    display:block;
    font-size: 3em;
    text-align: left;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 993px) {
    button {
        font-size: 1.25em;
        width: 50px;
        height: 50px;
    }
}