
/* ==========================================================================
   N's custom styles
   ========================================================================== */

body {
    font-size: 1em;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-1.jpg', sizingMethod=scale);
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/bg-1.jpg', sizingMethod='scale')";
    background: url(/img/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.n-form-btn-text {
    font-weight: 700;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.card .card-title {
    font-size: 1em;
    font-weight: 700;
}

.card .card-content .card-title {
    line-height: normal;
}

div#login {
    max-width: 420px;
    display: block;
    width: 90%;
    margin: 1.3333em auto;
}

.error-msg-email, .error-msg-pass{
    margin-top: -20px;
    font-size: 0.8em;
    color: #e4572e;
}

.card-panel {
    padding: 15px;
}

#verification-msg .row .col {
    padding: 0;
}

#verification-msg a#close {
    position: relative;
    height: 100%;
    right: 0;
    color: rgba(0,0,0,0.125) !important;
    font-size: 1.25em;
    vertical-align: middle;
}