#currentContainer,#upcomingContainer{
    display: none;
}
.buyBtn{ visibility: hidden }
div.buyCard { box-shadow: none !important;  }
div.buyCard div.card-content { padding: 15px; }
div.buyCard:hover { border: 1px solid #d1d1d1; text-decoration: none; }
.currentName,.upcomingName,.allName { cursor: pointer; }
